<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Morse Runner</string>
    <key>CFBundleDisplayName</key><string>Morse Runner</string>
    <key>CFBundleIdentifier</key><string>com.dxatlas.morserunner</string>
    <key>CFBundleVersion</key><string>1.71</string>
    <key>CFBundleShortVersionString</key><string>1.71</string>
    <key>CFBundleExecutable</key><string>MorseRunner</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleSignature</key><string>????</string>
    <key>LSMinimumSystemVersion</key><string>11.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSMicrophoneUsageDescription</key><string>Morse Runner does not use the microphone.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (C) 2004-2016 Alex Shovkoplyas, VE3NEA. MPL-2.0.</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
</dict>
</plist>
